$color-mainLogo: #03c75a;

$color-mainLogo-hover: #17b75e;

$color-border: #ebebeb;

$color-unselectedTitle: rgba(8, 8, 8, 0.5);

$color-selectedTitle: #080808;

$color-defaultText: #101010;

<<<<<<< HEAD
$color-caption: #606060;
<<<<<<< HEAD

$color-white: #ffffff;
=======
=======
$color-caption: #606060;
>>>>>>> aba41af (Design: 태그 정리, 텍스트 숨김 처리, css 수정)
>>>>>>> 0849c58 (Design: 태그 정리, 텍스트 숨김 처리, css 수정)
