$color-mainLogo: #03c75a;

$color-mainLogo-hover: #17b75e;

$color-border: #ebebeb;

$color-unselectedTitle: rgba(8, 8, 8, 0.5);

$color-selectedTitle: #080808;

$color-defaultText: #101010;

$color-caption: #606060;

$color-white: #ffffff;
