@font-face {
  font-family: "Gothic100";
  src: url("/fonts/AppleSDGothicNeoT.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic200";
  src: url("/fonts/AppleSDGothicNeoUL.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic300";
  src: url("/fonts/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic400";
  src: url("/fonts/AppleSDGothicNeoR.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic500";
  src: url("/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic600";
  src: url("/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic700";
  src: url("/fonts/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic800";
  src: url("/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}

@font-face {
  font-family: "Gothic900";
  src: url("/fonts/AppleSDGothicNeoH.ttf") format("truetype");
}
