.icons {
  margin: 20px;
  text-decoration: none;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    @include set-font("Gothic500", 500, $color-white, 14px, 20px);
    width: 64px;
    margin-left: 4px;

    &:nth-of-type(1) {
      margin-left: 0;
    }
  }

  a {
    text-decoration-line: none;
    text-align: center;

    div span {
      margin: 30px;
    }

    &:visited {
      color: black;
    }
  }
}

.serviceList__item .serviceList__name--blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.serviceList__link {
  display: block;
  width: 64px;

  .serviceList__icon {
    display: block;
    width: 48px;
    height: 50px;
    margin: 0 auto;
  }

  .serviceList__name {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-top: 7px;
    line-height: 20px;
    text-align: center;
  }
}

.serviceList__icon {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    @include set-sprite(434px 422px, 0px -128px, 54px, 54px);
  }

  &:hover::after {
    position: absolute;
    border-radius: 17px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.serviceList__icon--more:hover::after {
  background-color: #ddd;
}

$icons: (
  serviceList__icon--mail: (
    438px 429px,
    -250px -90px,
    48px,
    48px,
  ),
  serviceList__icon--cafe: (
    438px 422px,
    -251px 2px,
    48px,
    48px,
  ),
  serviceList__icon--blog: (
    438px 423px,
    -201px -95px,
    48px,
    48px,
  ),
  serviceList__icon--shopping: (
    434px 422px,
    -88.5px -207px,
    47px,
    47px,
  ),
  serviceList__icon--news: (
    434px 422px,
    2px -206px,
    48px,
    48px,
  ),
  serviceList__icon--stock: (
    434px 422px,
    -178px -206px,
    48px,
    48px,
  ),
  serviceList__icon--real: (
    434px 422px,
    -44px -207px,
    47px,
    47px,
  ),
  serviceList__icon--map: (
    434px 422px,
    -201px 2px,
    48px,
    48px,
  ),
  serviceList__icon--webtoon: (
    434px 422px,
    -222px -206px,
    48px,
    48px,
  ),
  serviceList__icon--more: (
    434px 422px,
    -248px -132px,
    48px,
    48px,
  ),
);

// '@each list data 반복문' 문법
.serviceList__icon {
  @each $icon, $properties in $icons {
    &.#{$icon}::after {
      @include set-sprite($properties...);
    }
  }
}
