/* fonts */
@font-face {
    font-family: "SDGothic";
    src: url('/font/AppleSDGothicNeoR.ttf') format("truetype");
    font-weight: normal;
}

.logo {
    @include set-sprite(null, -315px -95px, 138px, 66px);
    background-image: url(/images/sp_logo.png);
    display: inline-block;
    margin-top: 8px;
    vertical-align: top;
}

.header-wrap{
    margin-top: 108px;
    text-align: center;
}

.login-wrap {
    @include set-flex(column, center, center);
    @include set-border(1px solid rgb(173, 164, 164), 5px, border-box);
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    
    .login-wrap__menu-wrap{
        @include set-flex(row, space-around, center);
        width: 100%;
    }

    /* 변경되는 UI적용 후 padding값 조절하여 클릭범위 넓히기 */
    .login-wrap__menu-wrap a{
        display: block;
        padding: 20px 0px 40px 0px;
    }

    .login-form {
        @include set-flex(column, center, center);
        width: 70%;
        

        .login-form__id-pw-wrap {
            @include set-flex(column, center, center);
        }

        .login-form__input-id {
            @include set-border(1px solid rgb(172, 165, 165), 5px, border-box);
            width: 240%;
            height: 50px;
            padding-left: 15px;
        }

        .login-form__input-pw {
            @include set-border(1px solid rgb(172, 165, 165), 5px, border-box);
            width: 240%;
            height: 50px;
            padding-left: 15px;
        }

        ::placeholder {
            @include set-font(16px, normal, 400, normal);
            color:#767676;

            //sprite 공유 후 이미지 사용
            cursor: pointer;
        }

        input:focus::placeholder {
            color: transparent;
        }
        
        .checkbox-toggle-wrap {
            @include set-flex(row, space-around, center);
            width: 180%;
            padding: 15px 0px;
        }

        .checkbox-toggle-wrap__login-checkbox {
            & + label {
                cursor: pointer;
                &::before {
                    content:'';
                    @include set-sprite (266px 228px, -244px -85px, 22px, 22px);
                    display: inline-block;
                    background-image: url("/images/sp_login.png");
                    margin-right: 3px;
                    vertical-align: bottom;
                }
            }

            &:checked + label {
                &::before {
                    background-position: -244px -166px;
                    background-size: 266px 228px;
                }
            }
        }

        .checkbox-toggle-wrap__checkbox-text {
            @include set-font("Noto400", 500, #777, 14px, 17px);
            display: inline-block;
        }

        .checkbox-toggle-wrap__toggle-area {
            @include set-flex(row, space-between, center);
            cursor: pointer;
        }

        .checkbox-toggle-wrap__toggle-button {
            appearance: none;
            position: relative;
            @include set-border (max(2px, 0.1em) solid transparent, 1.25em, null);
            background-color: #cac5c5;
            width: 2.25em;
            height: 1.25em;

            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                @include set-border(null, 50%, null);
                background-color: #fff;
                width: 1em;
                height: 1em;
                transform: scale(0.97);
                transition: left 50ms linear;
            }

            &:checked {
                background-color: rgb(3, 199, 90);
                border-color: rgb(3, 199, 90);
            }

            &:checked::before {
                background-color: white;
                left: 1em;
                transform: scale(0.97);
            }
        }
    }

        .checkbox-toggle-wrap__toggle-text {
            @include set-font("Noto400", 500, #777, 14px, 17px);
        }


        /* 체크박스 및 토글버튼 선택시 라벨 하이라이트 방지 */
        .checkbox-toggle-wrap__checkbox-text,
        .checkbox-toggle-wrap__toggle-text {
            white-space: nowrap;
            user-select: none;
            overflow: hidden;
        }
    }

    /* 로그인 버튼 */
    .login-button {
        @include set-border(solid 1px rgba(0,0,0,.15), 6px, border-box);
        @include set-font("Noto700", 700, #fff, 20px, 24px);
        display: inline-block;
        width: 140%;
        margin-top: 30px;
        height: 50px;
        background: rgb(3, 199, 90);
        
        cursor: pointer;
    }


.find-wrap__find-inner-wrap {
    @include set-font("Noto400", 40px, #888, 14px, 17px);
    @include set-flex(row, center, center);
    width: 100%;;
    padding: 20px 0px 0px 0px;
    text-align: center;

    li:not(:first-child) {
        &::before {
        content: "|";
        padding: 12px;
        }
    }
}