@import "reset.css";
@import "mixin.scss";

.two {
  margin: 20px;
}

#nav {
  text-decoration: none;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    width: 64px;
    margin-left: 4px;

    &:nth-of-type(1) {
      margin-left: 0;
    }
  }

  a {
    text-decoration-line: none;
    text-align: center;

    div {
      width: 44px;
      height: 44px;
      margin: 0 auto;

      span {
        margin: 30px;
      }
    }

    &:visited {
      color: black;
    }
  }
}

.service_item .blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#nav .service_list .service_iconlink {
  position: relative;
  display: block;
  width: 64px;

  .service_icon {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }

  .service_name {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    margin-top: 7px;
    line-height: 20px;
    text-align: center;
  }
}

#nav .service_list .service_iconlink .service_icon {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -4px;
    @include set-sprite(434px 422px, 0px -128px, 54px, 54px);
  }

  &:hover::after {
    border: 2px solid #ddd;
    border-radius: 17px;
    box-shadow: 0px 2px 4px -2px gray;
    @include set-sprite(434px 422px, -142px 0px, 58px, 58px);
    position: absolute;
    top: -3px;
    left: 0px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.more:hover::after {
  background-color: #ddd;
}

$icons: (
  mail: (434px 422px, -250px -90px, 44px, 44px),
  cafe: (434px 422px, -250px 0px, 44px, 44px),
  blog: (434px 422px, -201px -98px, 44px, 44px),
  shopping: (434px 422px, -90px -209px, 44px, 44px),
  news: (434px 422px, 0px -209px, 44px, 44px),
  stock: (434px 422px, -180px -209px, 44px, 44px),
  real: (434px 422px, -45px -209px, 44px, 44px),
  map: (434px 422px, -201px 0px, 44px, 44px),
  webtoon: (434px 422px, -225px -209px, 44px, 44px),
  more: (434px 422px, -250px -135px, 44px, 44px)
);

// '@each list data 반복문' 문법
#nav .service_list .service_iconlink .service_icon {

  @each $icon,
  $properties in $icons {
    &.#{$icon}::after {
      @include set-sprite($properties...);
    }
  }
}