/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  box-sizing: border-box;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

@font-face {
  font-family: "Gothic100";
  src: url("/fonts/AppleSDGothicNeoT.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic200";
  src: url("/fonts/AppleSDGothicNeoUL.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic300";
  src: url("/fonts/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic400";
  src: url("/fonts/AppleSDGothicNeoR.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic500";
  src: url("/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic600";
  src: url("/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic700";
  src: url("/fonts/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic800";
  src: url("/fonts/AppleSDGothicNeoEB.ttf") format("truetype");
}
@font-face {
  font-family: "Gothic900";
  src: url("/fonts/AppleSDGothicNeoH.ttf") format("truetype");
}
body {
  font-family: Gothic500, sans-serif;
  font-weight: 500;
  color: #101010;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-style: normal;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.one {
  background-color: pink;
}

.two {
  background: yellow;
}

.three {
  background: blue;
}

.four {
  background: brown;
}

.four {
  border: 1px solid #dadcdf;
  border-radius: 8px;
  background-color: #fff;
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.account p {
  font-size: 16px;
  margin: 0px;
}
.account .login {
  padding: 17px 0px;
  background-color: #03c75a;
  border-radius: 5px;
  color: #fff;
  margin: 13px 0px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.account .login i {
  background: url(../img/sp_main.89f0d213.png);
  background-size: 434px 422px;
  background-position: -120px -166px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 72px;
  height: 15px;
  margin: 2px 1px 0 0;
  vertical-align: top;
}
.account .login:hover {
  filter: brightness(0.95);
}
.account .find {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: #606060;
}
.account .find li {
  list-style: none;
}
.account .find li:nth-child(1)::after,
.account .find li:nth-child(2)::after {
  content: "|";
  color: #d3d5d7;
  margin: 0px 12px;
}
.account .find li:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */